@import "tailwindcss";
@plugin '../../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --secondary: 210 40% 96.1%;
    --card: hsl(0 0% 100%);
    --divider: hsl(200 100% 36% / 0.1);

    --heroui-radius-medium: 20px;
    --heroui-radius-large: 40px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: hsl(16 100% 66%);
    --secondary: hsl(200 80% 45%);
    --card: hsl(200 100% 12%);
  }

}